<script src="js/general-popup.js"></script>
<link rel="stylesheet" href="css/general-popup.css" asp-append-version="true" />
<div id="general-popup" class="modal">
    <div id="popup-content" class="modal-content">
        <span class="close">&times;</span>
        <p id="pupup-text"></p>
    </div>
    <button id="confirm-button" class="btn btn-primary">Confirm</button>
</div>